
# python cache
__pycache__/
*.pyc

container/
build/
dist/
*.egg-info/
.checkpoints
**/*.rs.bk
*.pdb


M2/mono_v2/model/mono_emb_model.pth
M2/mono_v2/rust_engine/target/
M2/own_embedding_model/test_dir
M2/mono_v2/rust_engine/rustc-ice-*.txt
M2/test_all_modalities.py
M2/test_filter.py
M2/store 
M2/store_test










